* {
    box-sizing: border-box;
}

body {
    background-color: bisque;
    margin: 0 ;
    background-image: linear-gradient(to bottom, rgba(174, 238, 197, 1), rgba(191, 233, 148, 1)), url(../images/Без\ названия\ \(2\).jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.square {
    width: 1800px;
    height: 1800px;
    -webkit-box-shadow: 2px 3px 46px 12px rgba(214, 109, 214, 1);
    -moz-box-shadow: 2px 3px 46px 12px rgba(214, 109, 214, 1);
    box-shadow: 2px 3px 46px 12px rgba(214, 109, 214, 1);
    
}

.container {
    background-color: chocolate;
    width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card,
.review {
    background-color: lightgreen;
    border: 3px solid red;
    width: 400px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.card>img,
.review>img {
    width: 60%;
    border-radius: 15px;
}

.line {
    background-color: rgb(255, 255, 255);
    height: 30px;
}