* {
    box-sizing: border-box;
}

body {
    background-color: bisque;
    margin: 0 auto;
}

.wrapper {
    background-color: violet;
    width: 1800px;
    margin: 0 auto;
}

.container {
    background-color: chocolate;
    width: 1500px;
    margin: 0 auto;
}
.shadow {
    box-shadow: 10px 10px 5px 0px rgba(240, 19, 19, 0.75);
}
.card {
    background-color: lightgreen;
    border: 3px solid red;
    width: 400px;
    border-radius: 15px;
    text-align: center;
    display: inline-block;
    margin-left: 75px;
    margin-top: 15px;
}

.card:hover {
    animation: pupa 3s ease-in-out infinite;
}

@keyframes pupa {
    0% {
        background-color: limegreen;
    }
    10%{
        background-color: beige;
    }
    20%{
        background-color: cadetblue;
    }
    30%{
        background-color: rgb(13, 60, 61);
    }
    40%{
        background-color: rgb();
    }
    50%{
        background-color: rgb();
    }
    60%{
        background-color: rgb();
    }
    70%{
        background-color: rgb();
    }
    80%{
        background-color: rgb();
    }
    90%{
        background-color: rgb();
    }   

}

.card>img {
    width: 60%;
    border-radius: 15px;
}

.line {
    background-color: whitesmoke;
    height: 30px;
}

.review {
    background-color: lightcoral;
    border: 3px solid red;
    width: 400px;
    border-radius: 15px;
    text-align: center;
    display: inline-block;
    margin-left: 75px;
    margin-top: 15px;
}

.review>img {
    width: 60%;
    border-radius: 15px;
}

p::first-letter {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: red;
}
